h1 {
    font-style: "normal"; color: rgb(55, 75, 95);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(106, 126, 134);
    color: white;
    text-align: center;
    padding-top: 10px;
}